.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}

.subtittle{
    margin-left: 2px;
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 3px 9px 8px -6px rgba(0,0,0,0.75);
    padding: 5px 10px;
}

.quizInfo{
    width: 100%;
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
    margin: 10px;
}