.title{
    text-transform: uppercase;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #053742;
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devider{
    margin: 10px;
    width: 100%;
    color: rgb(47, 24, 99);
}